.vscode
.cache
build/
build*/
docs/_build/
gtest/test_paths.hpp
compile_commands.json
CMakeUserPresets.json
*.sh
.DS_Store
src/version.hpp
.devcontainer/
CMakeLists.txt.user
site/
docs/api/xml/
__pycache__
_version.py
