name: Build & Test 

on:
  push:
    branches: [ "**" ]

jobs:
  Linux: 
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    container: ghcr.io/those1990/linux-dev:1.0
    env:
      HOME: /root
    strategy:
      matrix:
        include:
          - c_compiler: gcc
            cpp_compiler: g++
            conan_profile: ""
          - c_compiler: clang-17
            cpp_compiler: clang++-17
            conan_profile: -pr clang
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build
        run: |
          conan install . -of ./build --build missing ${{ matrix.conan_profile }}
          cmake -S . -B ./build \
            -DCMAKE_TOOLCHAIN_FILE=./build/conan_toolchain.cmake \
            -DCMAKE_C_COMPILER=${{ matrix.c_compiler }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }} \
            -DCMAKE_CXX_FLAGS="-fsanitize=address,undefined -g" \
            -DCUCUMBER_UNDEFINED_STEPS_ARE_A_FAILURE=OFF
          cmake --build ./build -j12

      - name: Run Unit Tests
        run: ./build/bin/unittests

      - name: Run Example
        run: ./build/bin/example ./examples --exclude-file 11_manual_fails.feature

  Windows:
    runs-on: windows-latest 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'
      - name: Install pip tools
        run: |
          python -m pip install --upgrade pip
          pip install cmake conan
      - name: Init conan
        run: |
          conan --version 
          conan profile detect
          powershell -Command "(gc C:\Users\runneradmin\.conan2\profiles\default) -replace 'compiler.cppstd=14', 'compiler.cppstd=20' | Out-File -encoding ASCII C:\Users\runneradmin\.conan2\profiles\default"
          powershell -Command "(gc C:\Users\runneradmin\.conan2\profiles\default) -replace 'compiler.runtime=dynamic', 'compiler.runtime=static' | Out-File -encoding ASCII C:\Users\runneradmin\.conan2\profiles\default"
          conan profile show
      - name: Build 
        run: |
          conan install . -of build --build missing
          cmake -S . -B ./build -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=".\build\conan_toolchain.cmake" -DCUCUMBER_UNDEFINED_STEPS_ARE_A_FAILURE=OFF
          cmake --build ./build --config Release -j12
      - name: Run unittests
        run: .\build\bin\Release\unittests.exe
      - name: Run example
        run: .\build\bin\Release\example.exe ./examples --exclude-file 11_manual_fails.feature

  Mac:
    runs-on: macos-latest
    permissions:
      contents: read
      packages: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install CMake & Conan
        run: |
          python -m pip install --upgrade pip
          pip install cmake conan

      - name: Detect Conan profile
        run: |
          conan --version
          conan profile detect

      - name: Build
        run: |
          conan install . -of ./build --build missing
          cmake -S . -B ./build \
            -DCMAKE_TOOLCHAIN_FILE=./build/conan_toolchain.cmake \
            -DCUCUMBER_UNDEFINED_STEPS_ARE_A_FAILURE=OFF
          cmake --build ./build -j12

      - name: Run Unit Tests
        run: ./build/bin/unittests

      - name: Run Example
        run: ./build/bin/example ./examples --exclude-file 11_manual_fails.feature
